/_Deparsed_XSubs.pm
/samizdat.yml
/public/**/*.html
/public/**/*.gz
/src/icons/
/src/flag-icons/
/package-lock.json
/public/js/local.js
/src/js/local.js
/src/scss/local.scss
/node_modules/
/.npm-cache/
/log/
/.idea/
/.vscode/
/.claude/
/lib/Samizdat/Model/EPP-PRIVATE.md
/lib/Samizdat/Model/EPP.pm
/lib/Samizdat/Plugin/EPP.pm